* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.wrapp {
  max-width: 1550px;
  margin: 0 auto;
}

body {
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: center;
  height: 12.4%;
  min-height: 20%;
  margin: 0 auto;
  max-width: 100%;
}
.content img {
  min-width: 24%;
}
.content figcaption {
  text-align: left;
  padding: 33px 0 0 0;
}
.content figure {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: #410E54;
  line-height: 27px;
  margin: 0 39px 0 40px;
  font-weight: 400;
}
.content .one {
  margin: 0 30px 0 -30px;
}

.top {
  text-align: center;
  font-size: 21px;
  font-family: sans-serif;
  color: #410E54;
  padding: 25px 50px 45px 0;
  font-weight: bolder;
}

.bottom {
  text-align: center;
  font-size: 21px;
  font-family: sans-serif;
  color: #410E54;
  padding: 25px 20px 45px 0;
  font-weight: bolder;
}

main {
  height: 1187px;
  background: url("76de148b-3c42-4f26-98eb-3b027f5a8d80 1 (1).png") no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
}

.text {
  width: 47.6%;
  max-height: 75.6%;
  padding: 0 27px 0 27px;
  margin: -3px -30px 31px 30px;
  background: rgba(30, 6, 33, 0.4);
}
.text p {
  font-family: sans-serif;
  color: white;
  text-align: left;
  font-size: 20px;
  line-height: 27px;
  padding-top: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  height: 550px;
  align-items: center;
}
.flex img {
  margin-top: 18px;
  max-width: 40%;
  z-index: 1;
}

.arrow-left {
  width: 32px;
  height: 59px;
  background: rgba(30, 6, 33, 0.4);
  margin-top: -15px;
  cursor: pointer;
}
.arrow-left::before {
  background-image: url("Vector 1.png");
  margin: 18px 0 0 5px;
  content: " ";
  width: 17px;
  display: inline-block;
  height: 20px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.arrow-right {
  width: 32px;
  height: 59px;
  background: rgba(30, 6, 33, 0.4);
  margin: 15px 30px 0 0;
  cursor: pointer;
}
.arrow-right::before {
  background-image: url("Vector 1 (1).png");
  margin: 19px 0 0 8px;
  content: " ";
  width: 17px;
  display: inline-block;
  height: 20px;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 425px;
  margin: 48px 0 0 10px;
}
.form .lp {
  font-size: 21px;
  font-family: sans-serif;
  color: #410E54;
  font-weight: bolder;
  padding: 0 0 26px 0;
}
.form .name {
  width: 463px;
  height: 72px;
  background: rgba(30, 6, 33, 0.4);
  margin: 0 0 25px 0;
}
.form .name input {
  width: 467px;
  height: 72px;
  font-size: 25px;
  padding: 4px 0 4px 10px;
  background: rgba(30, 6, 33, 0);
  color: white;
  text-align: center;
}
.form .tel {
  width: 467px;
  height: 72px;
  background: rgba(30, 6, 33, 0.4);
}
.form .tel input {
  width: 469px;
  height: 72px;
  font-size: 25px;
  padding: 4px 0 8px 10px;
  background: rgba(30, 6, 33, 0);
  color: white;
  text-align: center;
}
.form .confirm {
  width: 463px;
  height: 72px;
  background-color: white;
  margin: 70px 0 0 0;
  font-size: 22px;
  font-family: sans-serif;
  color: #410E54;
  font-weight: bolder;
  text-decoration: none;
}

.niz {
  height: 150px;
  background-color: gray;
  width: 100%;
}

input[type=text]::-webkit-input-placeholder {
  color: white;
}

/*# sourceMappingURL=module.css.map */
